@mixin card() {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    box-shadow: 0px 3px 15px #00000029;
    padding: 0;

    &__image {
      max-width: 310px;
      min-width: 200px;
      width: 100%;
      height: auto;
      position: relative;

      &__tags {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
        font-family: $font-kumbh-sans;
        font-size: 14px;
        font-weight: 600;

        .featured {
          padding: 10px 9px;
          color: $color--white;
          background-color: $color--red;
          border-radius: 10px;
        }

        .tag {
          padding: 10px 9px;
          color: $color--gray-dark;
          background-color: $color--white;
          border-radius: 10px;
          box-shadow: 0px 3px 6px #00000029;
        }
      }

      img {
        max-width: 310px;
        width: 100%;
        min-width: 200px;
        height: auto;
        max-height: 175px;
        object-fit: cover;
      }
    }

    &__content {
      width: 100%;
      padding: 16px 30px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      
      .card__title {
        line-height: 22px;
        font-family: $font-kumbh-sans;
        font-size: 20px;
        line-height: 22px;
        color: $color--gray-dark;
        font-weight: 400;

        a {
          font-family: $font-kumbh-sans;
          font-size: 20px;
          line-height: 22px;
          color: $color--gray-dark;
          font-weight: 400;
        }
      }

      &-summary {
        font-family: $font-kumbh-sans;
        font-size: 14px;
        line-height: 22px;
        color: $color--gray-dark;
        font-weight: 400;
      }
      
    }

    &__footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .author {
        display: flex;

        span {
          font-family: $font-kumbh-sans;
          font-weight: 600;
          font-size: 14px;
          letter-spacing: 0.35px;
          color: $color--gray-dark;
          align-self: center;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50px;
          border: 2px solid #D1372B;
          margin-right: 11px;
          object-fit: cover;
        }
      }

      .card__date {
        font-family: $font-kumbh-sans;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.35px;
        color: $color--gray-dark;
        align-self: center;
      }
    }
}

@mixin people-card() {
  flex-basis: 20%;
  margin-bottom: 55px;

  
  @media screen and (min-width: 900px) and (max-width: $width--l) {
    flex-basis: 25%;
  }

  @media screen and (min-width: $breakpoint-mobile) and (max-width: 900px) {
    flex-basis: 33.33%;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    flex-basis: 50%;
  }

  @media screen and (max-width: 480px) {
    flex-basis: 100%;
  }

  img {
    width: 195px;
    height: 195px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
  }

  .name {
    font-family: $font-kumbh-sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.2px;
    color: $color--red;
    margin-top: 24px;
  }

  .job-title {
    font-family: $font-kumbh-sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1px;
    color: $color--gray-dark;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .image-wrapper {
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute; 
      top: 21px;
      left: 21px;
      width: 226px;
      height: 226px;
      z-index: -1;
      background-image: url('/wp-content/themes/riva-wp/images/half-circle.svg');
      background-repeat: no-repeat;
      transition: opacity 200ms ease-in-out;
      opacity: 0;

      @media screen and (max-width: $breakpoint-mobile) {
        display: none;
      }
    }
  }

  &:hover {
    .image-wrapper {
      &::after {
        opacity: 1;

      }
    }
  }
}