@mixin social-links() {
    display: flex;
    gap: 10px;
    margin-top: 60px;
    list-style: none;

    @media screen and (max-width: $breakpoint-mobile) {
      gap: 10px;
      justify-content: space-between;
    }

    &__link {
      width: 40px;
      height: 40px;

      @media screen and (max-width: $breakpoint-mobile) {
        width: 52px;
        height: 52px;
      }

    a {
      width: 40px;
      height: 40px;
      background: linear-gradient(135deg,#f49a25,#d1372b 30%,#d1372b);
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: $breakpoint-mobile) {
        width: 52px;
        height: 52px;
        background: $color--red;
      }

      &:hover,
      &:focus {
        box-shadow: 0 0 0 2px $red;
      }
    }
      

      img {
        position: relative;
        max-width: 100%;
      }
    }
}
    