/**
 * CLEAR VISUAL KEYBOARD FOCUS
 *
 * This relies on what-input.js:
 *
 * suppress focus ring on form controls
 * for mouse and touch users.
 */
[data-whatintent='mouse'] *:focus,
[data-whatintent='touch'] {
  outline: none;
}

[data-whatintent='keyboard'] {
  /**
  * force clear visual focus for
  * keyboard navigation.
  */
  *:focus {
    outline: 2px dashed $color--clear-visual-focus;
    outline-offset: 2px;
  }

  /**
  * special overrides for checkboxes
  * and radio buttons.
  */
  input[type=radio]:focus
  input[type=checkbox]:focus {
    + label:before {
      outline: 2px dashed $color--clear-visual-focus;
      outline-offset: 2px;
    }
  }
}

/* accessible skip-navigation link */
.skip-link {
  font-family: $font--button;
  padding: 4px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.visually-hidden.focusable {

  &.skip-link,
  &.accessibility,
  &.skip-filters {
    &:focus {
      position: fixed !important;
      top: 0;
      left: 0;
      z-index: $z--skip-link;
      clip: auto;
      height: auto;
      width: auto;
      font-size: 14px;
      color: white;
      background-color: black;
      padding: 0.75em;
      outline: none;
      border: 2px dashed $color--clear-visual-focus !important;
    }
  }
}


// INVERTED BACKGROUND
// ---
[data-whatintent='keyboard'] .layer--dark-background {
  *:focus {
    outline: 2px dashed $color--on-dark--clear-visual-focus;
  }

  .form-radio:focus,
  .form-checkbox:focus,
  .facets-checkbox:focus,
  .facets-radio:focus {
    + label:before {
      outline: 2px dashed $color--on-dark--clear-visual-focus;
    }
  }
}

.layer--dark-background .visually-hidden.focusable {
  &.skip-link,
  &.accessibility,
  &.skip-filters {
    &:focus {
      color: $color--on-dark--text;
      background-color: $color--on-dark--background;
      border: 2px dashed $color--on-dark--clear-visual-focus !important;
    }
  }
}


/* Remove all animations, transitions and smooth scroll
* for people that prefer not to see them
*/
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
