html {
  box-sizing: border-box;
  font-size: $font-size-base;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  scroll-behavior: smooth;
  scroll-padding-top: 20px;

  @include mobile {
    scroll-padding-top: $header-height--small + 10px;
  }
}


*,
*::after,
*::before {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: $font--body;
  color: $color--text;
  background-color: $color--background;
  font-weight: 400;
  font-size: $body-font-size;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: auto;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}


svg,
img,
picture {
  display: block;
  max-width: 100%;
}
