.table-inner {
}

.contentTable {
  // margin-left: auto;
  // margin-right: auto;
  width: 100%;

  thead {
    border-bottom: 1px solid gray;
  }

  th {
    color: black;
    text-align: left;
  }

  td {
    padding: 2.4rem 1.5rem;
  }

  tr:nth-child(odd) {
    td {
      background-color: lightgray;
    }
  }
}
