.module--wysiwyg {
  .block-title {
    margin-bottom: 3rem;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;

    &.aligncenter {
      margin: 0 auto;
      margin-bottom: 1.5em;
    }

    &.alignnone {
      margin-bottom: 1.5em;
    }

    &.alignleft {
      float: left;
      margin-right: 1.5em;
      margin-bottom: 1em;
      max-width: 48%;
    }

    &.alignright {
      float: right;
      margin-bottom: 1em;
      margin-left: 1.5em;
      max-width: 48%;
    }
  }

  blockquote {
    position: relative;
    margin-bottom: 2.5rem;

    &::after {
      content: '“';
      position: absolute;
      top: 0;
      left: -0.7em;
      font-size: 0.94em;
      line-height: 1;
    }

    p {
      margin-bottom: 0;
      font-size: 1em;
      line-height: 1.32;

      &:last-child::after {
        content: '”';
        display: inline;
        font-size: 0.94em;
        line-height: 0;
      }
    }
  }

  ul,
  ol {

    ul,
    ol {
      margin-top: 10px;
      margin-bottom: 4px;
    }
  }

  ul {
    list-style: none;
  }

  ul li::before {
    content: "\2022";
    color: $red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-top: 0;
    font-size: 1.5rem;
  }

  .paragraph-regular {

    >ul,
    >ol {
      margin-left: 10px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    +table {
      margin-top: 4em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  h2 {

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 2.5rem;
      line-height: 2.8rem;
    }
  }

  a {
    word-break: break-word;
  }

  .dataTable-wrapper {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);

    .wpdt-c.wpDataTableContainerSimpleTable.wdtscroll table.wpdtSimpleTable {
      width: 100% !important;
    }
  }

  .wpdt-c.wpDataTableContainerSimpleTable .wpdtSimpleTable.wpDataTable,
  .wpdt-c .wpDataTableContainerSimpleTable .wpdtSimpleTable.wpDataTable {

    th,
    td {
      font-size: 18px;
      height: auto;
      padding: 17px 25px !important;
      border: 0 !important;
      border-right: 2px solid $color--white !important;
      text-align: left;

      &:last-child {
        border-right: 0 !important;
      }
    }

    th {
      font-family: $font-kumbh-sans;
      font-weight: 800;
      text-transform: uppercase;
      background-color: $color--gray-dark;
      color: $color--white;
    }

    td {
      color: $color--gray-dark
    }

    tr:nth-child(odd) td {
      background-color: rgba($color--black, 0.075) !important;
    }
  }

  @media screen and (max-width: 700px) {

    .wpdt-c.wpDataTableContainerSimpleTable,
    .wpdt-c .wpDataTableContainerSimpleTable {
      display: flex;
      flex-direction: column;
      width: 100% !important;
      max-width: 100%;

      .wpdtSimpleTable.wpDataTable {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        max-width: 100% !important;

        thead,
        tbody,
        tr,
        th,
        td {
          display: flex;
          flex-direction: column;
          width: 100% !important;
          max-width: 100% !important;
        }

        th,
        td {
          border-bottom: 1px solid $color--white !important;
        }
      }
    }
  }
  .riva-wysiwyg-button {
    @include button--rounded--orange--arrow();
    a {
      color: #fff;
    }
    &:hover {
      a {
        color: #2b303b;
        text-decoration: none;
      }
    }
  }
}

.module--two-columns-wysiwyg {
  .wysiwyg-single {
    @media screen and (max-width: 700px) {
      flex: 0 0 auto;
      width: 100%;
    }
  }

  .wysiwyg-single > h2:first-child, .wysiwyg-single > h3:first-child, .wysiwyg-single > h4:first-child, .wysiwyg-single > h5:first-child, .wysiwyg-single > h6:first-child {
      margin-top: 0;
  }
  .wysiwyg-single > h2:first-child {
    font-size: 4rem;
    line-height: 4rem;
}
}