<div class="hero__bottom">
	<div class="hero__bottom__page-flip" aria-hidden="true">
		<div class="page-border">
			<a href="#content" tabindex="-1">
				<img src="/wp-content/themes/riva-wp/images/page-flip-border.png" role="presentation" />
				<span class="visually-hidden">Skip to Main Content</span>
			</a>
		</div>
		<div class="animated-arrows">
			<img src="/wp-content/themes/riva-wp/images/icons/icon-expand-more.png" role="presentation" />
		</div>
	</div>
	<div class="hero__bottom__controls">
		<img class="pause" src="/wp-content/themes/riva-wp/images/icons/icon-pause-animations.svg" alt="Motion Pause Button" aria-hidden="true" />
		<img class="play" src="/wp-content/themes/riva-wp/images/icons/icon-play-animations.svg" alt="Motion Play Button" aria-hidden="true" />
		<span class="text">Pause <br/>All Motion</span>
	</div>
</div>