<div class="results-container__load-more">
    <a href="javascript:void(0);" title="Load More Posts" class="btn btn-primary rounded-pill button-load-more">
        <span class="button-text">Load More</span>
    </a>
</div>
