{% extends "base.twig" %}

{#
	/**
	 * 404 Page
	 *
	 * @see /wp-admin/admin.php?page=theme-general-settings
	 *   for configuration.
	 */
#}
{% set settings = page_options.the_404_settings %}
{% set page_builder = settings.page_builder %}

{% block content %}

	<div class="content">
		<div class="content-inner">
			{#
				Page Builder
			#}
			<div class="container">
				{% for item in page_builder %}
					{% if item.acf_fc_layout == 'full_width_cta' %}
						{% include 'blocks/full-width-cta/views/full-width-cta.twig' with { content: item } %}
					{% elseif item.acf_fc_layout == 'wysiwyg_block' %}
						{% include 'blocks/wysiwyg-block/views/wysiwyg-block.twig' with { content: item } %}
					{% endif %}
				{% endfor %}
			</div><!-- END .container -->
		</div><!-- END .content-inner -->
	</div><!-- END .content -->

{% endblock %}
