{% extends "base.twig" %}

{% block content %}

  <div class="container">
    {% if title %}<h1>{{ title }}</h1>{% endif %}

		<div class="archive-resources__content" style="display: flex; justify-content: center; gap: 1.5em;">
			{% for post in posts %}
				{# {% include ['card-'~post.post_type~'.twig', 'card.twig'] with {
					"image_option": "false",
					"show_term": "false",
					"featured_image": post.thumbnail,
					"taxonomy_loader": 'resource-type'
				} %} #}
			{% endfor %}
		</div>
  </div>

  {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
