<section class="search block" id="search-form">
	<form class='l-module' method="get" role="search" action="{{ site.url }}">
		<input type="text" placeholder="Search" name="s">
		<input type="submit" value="Search" class="submit button button__primary button__primary--orange button__mode--dark">
	</form>
</section>
