{#
/**
 * Block Name: Form Block
 *
 * This is the template that displays the Tab block.
 *
 * Variables:
 * - content
 *  - form
 */
#}
{# Process Fields #}

{# Build Attributes #}
{% set id = 'form-id--' ~ block.id %}

<!-- FORM CTA -->
{% block form %}
<div class="form container--narrow" id="{{ id }}">
  <div class="row">
    <div class="col-12">
        {% if content.gravity_form_id %}
          {{ function('gravity_form', content.gravity_form_id, 'false', 'true', 'false', '', 'true' ) }}
          {% endif %}
    </div>
  </div>
</div>
{% endblock %}
