/* Common heading styles */
@mixin heading-style--base() {
  font-family: $font--heading;
}

@mixin heading-style--1() {
  @include heading-style--base;
  font-size: 5rem;
  font-weight: 600;
  line-height: 5.5rem;
  letter-spacing: -1px;
}

@mixin heading-style--2() {
  @include heading-style--base;
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
  letter-spacing: -1px;
  position: relative;
}

@mixin heading-style--3() {
  @include heading-style--base;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: -1px;
}

@mixin heading-style--4() {
  @include heading-style--base;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: -1px;
}

@mixin heading-style--5() {
  @include heading-style--base;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: -1px;
}

@mixin heading-style--6() {
  @include heading-style--base;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: -1px;
}