/** TESTIMONIAL **/
.testimonial {

  .testimonial-text {
    text-align: center;
    font-family: $font-kumbh-sans;
    font-size: 30px;
    font-weight: 300;
    line-height: 45px;
    letter-spacing: -0.6px;
    color: $color--gray-dark;
    margin-top: 15px;
    margin-bottom: 67px;
  }

  &__person {
    display: flex;
    
    &__image {
      flex-basis: 50%;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 22px;
        margin-left: auto;
        object-fit: cover;
      }
    }

    &__info {
      flex-basis: 50%;
      text-align: left;
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      // margin-bottom: 160px;

      @media screen and (max-width: $breakpoint-tablet) {
        margin-bottom: 40px;
      }

      .name {
        text-align: left;
        font-family: $font-kumbh-sans;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        letter-spacing: 0.4px;
        color: $color--gray-dark;
      }

      .date {
        text-align: left;
        font-family: $font-kumbh-sans;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 0.4px;
        color: $color--gray-dark;
      }
    }
  }
}