{% extends "base.twig" %}

{% block content %}

	{# {% if title %}<h1>{{title}}</h1>{% endif %} #}

	{{ post.content }}

	{# Uncomment next line with Debug.Log enabled to see what TWIG Template Directories are loading. #}
	{# {% include 'apples.twig' %} #}

{% endblock %}
