.module--accordion {
  background: $color--gray-light;
}

.accordion {
  padding-top: 60px;
  padding-bottom: 60px;
  // margin-bottom: $spacing--vertical;

  &__heading {
    text-align: center;
    font-family: $font-kumbh-sans;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -1px;
    color: $color--gray-dark;
  }

  &__description {
    text-align: center;
    font-family: $font-kumbh-sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: $color--gray-dark;
    margin-bottom: 40px;

    @media screen and (max-width: $breakpoint-tablet) {
      padding: 0;
    }
  }

  hgroup {
    margin-bottom: 40px;
  }
}

.accordion-item {

  box-shadow: 0px 5px 10px #00000033;
  border-radius: 40px !important;
  margin-bottom: 10px;

  .accordion-item__heading {
    margin: 0;
  }

  .accordion-item__toggle {
    @include button--clean;
    border-radius: 40px;
    background-color: $color--white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    transition: background-color $transition-speed ease-out;

    &:hover,
    &:active {
      /*background-color: $color--orange;*/

      .accordion-item__icon {
        transform: scale3d(1, 1, 1);
      }
    }
  }

  .accordion-item__title {
    font-family: $font-kumbh-sans;
    font-weight: 400;
    font-size: 30px;
    line-height: 55px;
    letter-spacing: 0px;
    color: $color--gray-dark;
    text-align: left;
    width: calc(100% - 35px);
    padding: 21px 40px;
  }

  .accordion-item__icon {
    position: relative;
    display: block;
    height: 25px;
    width: 25px;
    align-self: center;
    margin-right: 40px;
    transform: scale3d(0.8, 0.8, 0.8);
    transition: transform $transition-speed ease-out;

    img {
      transform: rotateZ(0);
      transition: transform $transition-speed ease-out;
    }
  }

  .accordion-item__panel {
    display: none;
    padding: 24px;
    border-left: 1px solid $color--gray-light;
    border-right: 1px solid $color--gray-light;

    p {
      font-family: $font-kumbh-sans;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.4px;
      color: $color--gray-dark;
      padding-left: 20px;
    }

    &__buttons {
      padding-left: 20px;
    }

    .btn {
      @include button--rounded--orange();
    }
  }

  // Accordion Item OPEN variant
  // ---
  &.accordion-item--open {

    .accordion-item__icon img {
      transform: rotateZ(180deg);
    }
  }
}
