{# Icons name based on filename in path image/uncompressed/icons #}
{% macro icon(iconName) %}
  <span class='icon'>
  {% include  theme.link  ~ '/images/uncompressed/icons/' ~ iconName ~ '.svg' %}
  </span>
{% endmacro %}

{# Icons name based on google icons https://fonts.google.com/icons #}
{% macro gIcon(iconName) %}
  <span class="icon material-symbols-outlined">
    {{ iconName }}
  </span>
{% endmacro %}