<div class='news__card'>

    {% if thumbnail %}
        <div class='news__image' style="background-image:url('{{ thumbnail }}')"></div>
    {% endif %}

    <div class='news__content'>

        {# import buttons #}
        {% import '/partial/macros/buttons.twig' as button %}

        <div class='news__tags'>
            {{ button.tagButton('tag', '#')}}
        </div>
        <div class='news__title'>
            <h4>{{ title }}</h4>
        </div>
        {% include '/partial/primary-buttons.twig' with {
            text : 'Read more',
            type: 'secondary',
            target: '_blank',
            href: url,
            title: title
		} %}
    </div>
</div>
