<div class="archive-news-and-insights__search module--search-bar search-bar">
    <div class="l-module">
        <div class="module__inner">
            <div class="block-wrapper">
                <div class="search-bar__title">
                    <h3>Search</h3>
                </div>
                <div class="search-bar__field">
                    <input type="search" id="search-field" />
                </div>
                <div class="search-bar__button">
                    <a href="javascript:doSearch();" title="SEARCH" class="button button__primary  button__primary--orange  button__mode--dark">
                        <span class="button-text"> SEARCH  </span>
                        <span class="icon material-symbols-outlined"> east</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>