{#
	Social Sharing Icons
#}
<div class="btn btn-primary rounded-pill share">
	<span>Share</span>
	<ul class="share__buttons">
		<li>
			<a href="https://www.facebook.com/sharer/sharer.php?u={{ post.link }}" target="_blank">
				<img src="/wp-content/themes/riva-wp/images/icons/icon-facebook.svg" />
				<span class="visually-hidden">Share on Facebook</span>
			</a>
		</li>
		<li>
			<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ post.link }}" target="_blank">
				<img src="/wp-content/themes/riva-wp/images/icons/icon-linkedin.svg" />
				<span class="visually-hidden">Share on Linkedin</span>
			</a>
		</li>
		<li>
			<a href="https://twitter.com/intent/tweet?source={{ post.link }}" target="_blank">
				<img src="/wp-content/themes/riva-wp/images/icons/icon-twitter.svg" />
				<span class="visually-hidden">Share on Twitter</span>
			</a>
		</li>
		<li>
			<a href="mailto:?subject=RIVA Article&body={{ post.title ~ ' ' ~ post.link }}" target="_blank">
				<img src="/wp-content/themes/riva-wp/images/icons/icon-email-white.svg" />
				<span class="visually-hidden">Share by Email</span>
			</a>
		</li>
	</div>
</div>