{#
/**
* Partial: SVG Icon Template
*
* Load up an Icon from the library.
* See '/images/Icon_Library_Screenshot.png' for options
*/
#}
{% set icon_name = icon_name|default('') %}
{% set hidden_text = hidden_text|default('') %}

<svg class="icon-{{ icon_name }}">
	<use xlink:href="{{theme.link}}/images/symbol-defs.svg#icon-{{ icon_name }}"></use>
</svg>
{% if '' != hidden_text %}
	<span class="visually-hidden-focusable">{{ hidden_text }}</span>
{% endif %}
