{#
/**
* Module: Alert Bar
*
*/
#}
{% set notifications = options.notifications %}

{% if notifications %}
<div id="alert-bar">
	<div class="l-container">
		<div class="alert-bar__inner">
			<div id="alertBarHelper" class="visually-hidden-focusable">Alert Bar Helper Text</div>
			<div class="alert-bar--title">
				<h5>
					<span class="text">Alert</span>
					<span class="icon material-symbols-outlined">warning</span>
				</h5>
			</div>

			<div class="alert-bar__cta">
				{% if notifications.1 %}
				<div class="alert-bar__cta--slider">
				{% endif %}
				
					{% for notification in notifications %}
					<div class="alert-bar--item">
						<h4>{{ notification.description }}</h4>
						<a class="link cta-link" href="{{ notification.cta.url }}" target="{{ notification.cta.target ? '' : '_self' }}">
							{{ notification.cta.title }}
						</a>
					</div>
					{% endfor %}

				{% if notifications.1 %}
				</div>
				
				<div class="slick-arrows">
					<button type="button" class="slick-prev slick-arrow" style=""><span class="icon material-symbols-outlined">chevron_left</span></button>
					<div class="slick-count">
						<span class="current">1</span>
						<span class="slash">/</span>
						<span class="total"></span>
					</div>
					<button type="button" class="slick-next slick-arrow" style=""><span class="icon material-symbols-outlined">chevron_right</span></button>
				</div>
				{% endif %}
			</div>

			{# Close Button #}
			<div class="alert-bar__close-btn-wrapper">
				<button id="alert-bar__close-btn" class="alert-bar__close-btn">
					<span class="visually-hidden-focusable">Close</span>
					<span class="icon material-symbols-outlined close">close</span>
				</button>
			</div>
		</div>
	</div>
</div>
{% endif %}