// For text that gets output from a WYSIWYG.

.entry-content {

  &:empty {
    display: none;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.25;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1.4em;
  }

  ol,
  ul {
    margin-bottom: 1.4em;
    padding-left: 1.4em;
  }

  ol {
    list-style-type: decimal;
    margin-left: 1.4em;
    padding-left: 0.5em;
  }

  ul {
    list-style-type: disc;
  }

  img {
    height: auto;
    max-width: 100%;
    margin-bottom: 0.9em;
  }

  hr {
    background: #eee;
    border-bottom: 1px solid #ddd;
    border: none;
    height: 2px;
    margin: 2em 0;
  }

  // Alignment
  .alignleft,
  .alignright,
  .aligncenter {
    @media screen and (max-width: 600px) {
      float: none !important;
      display: block !important;
      margin: 0 auto !important;
    }
  }

  .alignleft {
    display: inline;
    float: left;
    margin-right: 1em;
  }

  .alignright {
    display: inline;
    float: right;
    margin-left: 1em;
  }

  .aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
  }

  // Text meant only for screen readers
  .assistive-text {
    @include visually-hidden;
  }

  // Media
  // ---

  .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }

  .wp-caption {
    border: none;
    color: #969697;
    font-size: 1.5rem;
    margin-bottom: 0;
    max-width: 100%;

    &.aligncenter,
    &.alignleft,
    &.alignright {
      margin-bottom: 0;
    }

    img {
      display: block;
      margin: 1.2% auto 0;
      max-width: 98%;
    }

    .wp-caption-text {
      margin: 0.8075em 0 0;
    }
  }

  .wp-caption-text {
    text-align: center;
  }

  .gallery {
    margin-bottom: 1.4em;

    a img {
      border: none;
      height: auto;
      max-width: 90%;
    }

    dd {
      margin: 0;
    }
  }

  .gallery-caption {
  }

  // Make sure embeds and iframes fit their containers
  embed,
  iframe,
  object {
    max-width: 100%;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    color: $color--text;
    margin: 1em 0;
    width: 100%;
  }

  td,
  th {
    border: 1px solid transparent; // No more visible border
    height: 3em;
    transition: background 250ms, color 250ms; // Simple transition for hover effect
    vertical-align: middle;
  }

  th {
    background: darken($invert, 25%); // Darken header a bit
    font-weight: bold;
  }

  td {
    background: darken($invert, 7.5%);
    text-align: center;
  }

  tr {
    // Cells in even rows are one color
    &:nth-child(even) td {
      background: darken($invert, 7.5%);
    }

    // Cells in odd rows are another
    &:nth-child(odd) td {
      background: darken($invert, 15%);
    }

    td:hover {
      background: $color--text;
      color: white;
    }
  }
}
