// Gutenberg Styling
.wp-block-columns {
  display: flex;
}

.wp-block-column {
  flex: 1;
}

// Gutenberg Videos
figure.wp-block-embed.is-type-video,
.wp-block-embed__wrapper {
	position: relative;
	height: auto;
	padding-bottom: 0;
}

.wp-block-embed__wrapper {
	padding-bottom: 56.25%; // 16:9 aspect-ratio

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/* Internal Video Theming */
.wp-block-video {
	.wp-block-embed__wrapper,
	figcaption {
		display: flex;
		font-size: 1em;
	}
}

/* Embedded Video Theming */
.wp-block-embed {

	.wp-block-embed__wrapper,
	figcaption {
		display: flex;
		font-size: 1em;
	}
}
