{#
/**
 * Block Name: WYSIWYG
 *
 * This is the template that displays a 'WYSIWYG' block.
 *
 * Variables:
 * - content
 *  - heading
 *  - layout
 *  - wysiwyg (description field)
 * - block
 *  - id
 *  - className
 * - is_preview
 */
#}
{# Process Fields #}
{% set layout = content.layout %}
{% set heading = content.heading %}
{% set text = content.wysiwyg %}

{# Build Attributes #}
{% set classes = 'block module module--wysiwyg module--two-columns-wysiwyg my-3 my-md-5' %}
{% set id = 'wysiwyg-id--' ~ block.id %}

{% block wysiwyg %}
	{# Markup #}
	<div
		id="{{ id }}"
		class="{{ classes }} {{ block.className ? block.className : '' }}"
	>
  <div class="container--narrow">
    <div class="row">

				{% for wysiwyg in content.two_columns_wysiwyg %}
            <div class="col-6 wysiwyg-single">
              {{ wysiwyg.wysiwyg_single }}
            </div>
				{% endfor %}

    </div>
  </div>
  </div>
{% endblock %}
